div {
    border: 1px solid black;
}

.navigation-desktop {
    display: flex;
    height: 50px;
    background: #232F3E;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}

.nav-left {
    display: flex;
    width: 25%;
}
.nav-global {
    display: flex;
    width: 50%;
}

.nav-fill {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-center {
    width: 50%;
}
.nav-right {
    display: flex;
    width: 25%;
}

#logo {
    width: 30%;
    
   
}
